In [1]:
import pandas as pd
from sklearn.manifold import TSNE
import numpy as np
import sys

In [2]:
games = pd.read_csv('../data/games.csv', index_col='game_id')
train = pd.read_csv('../data/train.csv', index_col='game_id')
turns = pd.read_csv('../data/turns.csv', index_col='game_id')

In [3]:
games.isna().sum()

first                    0
time_control_name        0
game_end_reason          0
winner                   0
created_at               0
lexicon                  0
initial_time_seconds     0
increment_seconds        0
rating_mode              0
max_overtime_minutes     0
game_duration_seconds    0
dtype: int64

In [4]:
train.isna().sum()

nickname    0
score       0
rating      0
dtype: int64

There are NaN only in turns table

In [5]:
turns.isna().sum()

turn_number         0
nickname            0
rack            69390
location       132239
move              454
points              0
score               0
turn_type         395
dtype: int64

In [23]:
turns[turns.isna()['move']]

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
377,27,NurdiniDelisha,ADFNTTU,O8,NaN,16,249,NaN
409,22,akiff_faleel,AANU,14J,NaN,12,350,NaN
420,23,Rick,AGINU,M12,NaN,19,409,NaN
536,13,HastyBot,AAEILNN,F5,NaN,14,316,NaN
630,2,220674_ZAVEPHUA,AAEINNR,7H,NaN,11,11,NaN
...,...,...,...,...,...,...,...,...
72252,10,akiff_faleel,CGLLNUX,D10,NaN,12,238,Play
72395,18,gppa,AEINRSU,A14,NaN,35,272,NaN
72467,7,Saryk,?AALNOU,9F,NaN,11,74,NaN
72621,19,BB-8,EILLNOU,F11,NaN,16,211,Play
72654,32,hannahbanana,?NN,C2,NaN,24,415,Play

In [24]:
turns.loc[377, :]

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
377,1,NurdiniDelisha,AEIIJOO,8H,JAI,20,20,Play
377,2,BetterBot,ACDEGHI,H8,.IG,11,11,Play
377,3,NurdiniDelisha,EIOOUVY,9G,V.E,14,34,Play
377,4,BetterBot,?ACDEHQ,J7,Q.,11,22,Play
377,5,NurdiniDelisha,IIOOUYZ,K6,OI,13,47,Play
377,6,BetterBot,?ACDEHY,L3,YEAH,25,47,Play
377,7,NurdiniDelisha,EIORUYZ,M3,URE,20,67,Play
377,8,BetterBot,?CDDILU,2M,CUD,18,65,Play
377,9,NurdiniDelisha,AIIOUYZ,1N,YO,29,96,Play
377,10,BetterBot,?DEILOO,4I,OIL..,5,70,Play
377,11,NurdiniDelisha,AHIIKUZ,3I,ZA,44,140,Play
377,12,BetterBot,?DENOSX,11D,EXONS,36,106,Play
377,13,NurdiniDelisha,HIIKNOU,12D,HIN,33,173,Play
377,14,BetterBot,?DEEGLT,F10,D..GLE,14,120,Play
377,15,NurdiniDelisha,IKMOTTU,15F,.MO,15,188,Play
377,16,BetterBot,?ENOPTW,C12,TOWN,21,141,Play
377,17,NurdiniDelisha,FGIKTTU,15A,KI.G,33,221,Play
377,18,BetterBot,?ELNPRT,8H,...L,14,155,Play
377,19,NurdiniDelisha,FFNTTTU,H4,FUN,23,244,Play
377,20,NurdiniDelisha,FFNTTTU,NaN,--,-23,221,Exchange
377,21,BetterBot,?ELNPRT,J2,P..L,12,167,Play
377,22,NurdiniDelisha,FFNTTTU,14H,TUNT,8,229,Play
377,23,NurdiniDelisha,FFNTTTU,NaN,--,-8,221,Exchange
377,24,BetterBot,?ENRSTW,L8,STREWN,33,200,Play
377,25,NurdiniDelisha,FFNTTTU,11K,F.T,12,233,Play
377,26,BetterBot,?BBCERU,N6,ClUBBER,81,281,Play
377,27,NurdiniDelisha,ADFNTTU,O8,NaN,16,249,NaN
377,28,BetterBot,?AAOPRS,5D,PARASO.,30,311,Play
377,29,NurdiniDelisha,DFINTTU,4C,NUT,16,265,Play
377,30,BetterBot,?DEERST,6A,wRESTED,76,387,Play
377,31,NurdiniDelisha,DFIIORT,A6,.ORD,12,277,Play
377,32,BetterBot,AAAEIMV,10B,VIM,24,411,Play
377,33,NurdiniDelisha,EEFIIT,3B,FIT,22,299,Play
377,34,BetterBot,AAAE,12K,A.A.E,16,427,Play
377,35,NurdiniDelisha,EEI,2A,EE,14,313,Play
377,36,BetterBot,A,14F,.A,6,433,Play
377,37,BetterBot,NaN,NaN,(I),2,435,End

In [7]:
turns[turns.isna()['rack']].isna().sum()

turn_number        0
nickname           0
rack           69390
location       69390
move               0
points             0
score              0
turn_type          0
dtype: int64

In [8]:
turns[turns.isna()['location']].isna().sum()

turn_number         0
nickname            0
rack            69390
location       132239
move                0
points              0
score               0
turn_type           0
dtype: int64

In [9]:
turns[turns.isna()['location']]['turn_type'].value_counts() #/ turns['turn_type'].value_counts()

End              67987
Exchange         48997
Pass              8065
Timeout           4143
Challenge         2571
Six-Zero Rule      476
Name: turn_type, dtype: int64

All NaN in locastion are fine

In [10]:
turns[turns.isna()['location']]['turn_type'].value_counts() / turns['turn_type'].value_counts()

Challenge        1.0
End              1.0
Exchange         1.0
Pass             1.0
Play             NaN
Six-Zero Rule    1.0
Timeout          1.0
Name: turn_type, dtype: float64

In [11]:
turns['turn_type'].value_counts()

Play             1872864
End                67987
Exchange           48997
Pass                8065
Timeout             4143
Challenge           2571
Six-Zero Rule        476
Name: turn_type, dtype: int64

In [12]:
turns[turns.isna()['rack']]['turn_type'].value_counts() / turns['turn_type'].value_counts()

Challenge        0.298716
End              1.000000
Exchange              NaN
Pass                  NaN
Play                  NaN
Six-Zero Rule         NaN
Timeout          0.153271
Name: turn_type, dtype: float64

NaN in timeout are when last turn was player's

In [13]:
turns[(turns['turn_type'] == 'Timeout') & (turns['rack'].isna())].head()

         turn_number  nickname rack location    move  points  score turn_type
game_id
100               26    marvin  NaN      NaN  (time)     -10    329   Timeout
150               34    Galion  NaN      NaN  (time)     -10    313   Timeout
497               25  joelimus  NaN      NaN  (time)     -10    437   Timeout
959               25    marvin  NaN      NaN  (time)     -10    436   Timeout
1062              21    DylanS  NaN      NaN  (time)     -10    645   Timeout

In [14]:
turns.loc[72769].tail()

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
72769,27,browndav,OORTVWY,D2,VOW,32,367,Play
72769,28,STEEBot,ACILSTZ,1A,ZILAS,56,626,Play
72769,29,browndav,ORTY,B5,TYRO,19,386,Play
72769,30,browndav,NaN,NaN,(CT),8,394,End
72769,31,browndav,NaN,NaN,(time),-10,384,Timeout

In [15]:
turns.loc[100].tail()

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
100,22,marvin,CDIILRT,15L,.IRD,18,315,Play
100,23,STEEBot,AAEILNP,F2,PENIAL,25,479,Play
100,24,marvin,ACILT,4A,CATLI.,22,337,Play
100,25,marvin,NaN,NaN,(A),2,339,End
100,26,marvin,NaN,NaN,(time),-10,329,Timeout

In [16]:
turns[(turns['turn_type'] == 'Timeout') & (~turns['rack'].isna())].head()

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
20,32,Favournew,NV,NaN,(time),-10,356,Timeout
41,31,marvin,EER,NaN,(time),-10,295,Timeout
62,21,Menonr,AENV,NaN,(time),-10,384,Timeout
69,22,marvin,BBEMRTU,NaN,(time),-10,386,Timeout
90,25,marvin,DEGIINR,NaN,(time),-10,327,Timeout

In [17]:
turns.loc[20].tail()

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
20,28,STEEBot,?HMOPTV,7E,wHOMP,29,369,Play
20,29,Favournew,ILLNSV,N2,SILL,26,366,Play
20,30,STEEBot,TV,7K,T.V,10,379,Play
20,31,STEEBot,NaN,NaN,(NV),10,389,End
20,32,Favournew,NV,NaN,(time),-10,356,Timeout

In [18]:
turns.loc[41].tail()

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
41,27,STEEBot,BCEINOS,5E,S.NECIO,36,474,Play
41,28,marvin,EEILLRS,4J,SILL,12,305,Play
41,29,STEEBot,B,J4,..B,11,485,Play
41,30,STEEBot,NaN,NaN,(EER),6,491,End
41,31,marvin,EER,NaN,(time),-10,295,Timeout

In [19]:
turns[(turns['turn_type'] == 'Challenge') & (turns['rack'].isna())].head()

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
251,32,STEEBot,NaN,NaN,(challenge),0,589,Challenge
379,37,BetterBot,NaN,NaN,(challenge),5,445,Challenge
429,46,BetterBot,NaN,NaN,(challenge),0,457,Challenge
467,40,BetterBot,NaN,NaN,(challenge),0,473,Challenge
482,31,STEEBot,NaN,NaN,(challenge),0,498,Challenge

NaN is challenge are when turn is right before end

In [20]:
turns.loc[379,]

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
379,1,NdiranguKaranjq,ABEQTUY,8H,QUAY,32,32,Play
379,2,BetterBot,ACDEEEO,K4,DECO.,22,22,Play
379,3,NdiranguKaranjq,ABEILLT,J7,B.LL,12,44,Play
379,4,BetterBot,AEEIORT,9G,OI,14,36,Play
379,5,NdiranguKaranjq,AEEGITV,L3,VAE,20,64,Play
379,6,BetterBot,AAEEIRT,3L,.IA,12,48,Play
379,7,NdiranguKaranjq,AEGILTT,O1,GEL,19,83,Play
379,8,BetterBot,AEEINRT,O1,...ATINE,30,78,Play
379,9,NdiranguKaranjq,AIMRTTV,G9,.VA,6,89,Play
379,10,BetterBot,?DEFLRT,12C,TRiFLED,79,157,Play
379,11,NdiranguKaranjq,EIIMRTT,N8,MITTER,14,103,Play
379,12,NdiranguKaranjq,EIIMRTT,NaN,--,-14,89,Exchange
379,13,BetterBot,ACEGINR,C8,REAC.ING,74,231,Play
379,14,NdiranguKaranjq,EIIMRTT,15A,MI.RE,27,116,Play
379,15,NdiranguKaranjq,EIIMRTT,NaN,--,-27,89,Exchange
379,16,BetterBot,BEHNRSZ,N2,B.H,29,260,Play
379,17,NdiranguKaranjq,EIIMRTT,N8,MITER,13,102,Play
379,18,BetterBot,ENNRSSZ,E11,Z.NES,26,286,Play
379,19,NdiranguKaranjq,DIOTUWW,15A,WI.,21,123,Play
379,20,BetterBot,JNNOPRS,10B,J.R,26,312,Play
379,21,NdiranguKaranjq,?DNOTUW,M11,WOUND,25,148,Play
379,22,BetterBot,AENNOPS,8A,AP.ON,24,336,Play
379,23,NdiranguKaranjq,?HIOTTY,15M,.OH,21,169,Play
379,24,BetterBot,ENSSSUU,L8,SUN,22,358,Play
379,25,NdiranguKaranjq,?IOTTXY,F14,XI,52,221,Play
379,26,BetterBot,AEPSSTU,F6,PUS,19,377,Play
379,27,NdiranguKaranjq,?EKOTTY,15E,..TTY,24,245,Play
379,28,NdiranguKaranjq,?EKOTTY,NaN,--,-24,221,Exchange
379,29,BetterBot,ADEMRST,12L,D..M,20,397,Play
379,30,NdiranguKaranjq,?EKOTTY,15E,..KE,24,245,Play
379,31,BetterBot,AEEIRST,10A,A...,11,408,Play
379,32,NdiranguKaranjq,?FOOTTY,G4,FOOT,15,260,Play
379,33,BetterBot,EEIRRST,11G,.RE,8,416,Play
379,34,NdiranguKaranjq,?EGIOTY,H1,GOTE,24,284,Play
379,35,NdiranguKaranjq,?EGIOTY,NaN,--,-24,260,Exchange
379,36,BetterBot,AEIRST,14H,RETAI.S,24,440,Play
379,37,BetterBot,NaN,NaN,(challenge),5,445,Challenge
379,38,BetterBot,NaN,NaN,(EGIOTY?),20,465,End

In [21]:
turns[(turns['turn_type'] == 'Challenge') & (~turns['rack'].isna())].head()

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
295,5,BetterBot,ARUYELO,NaN,(challenge),0,46,Challenge
295,14,BetterBot,OWTNHNO,NaN,(challenge),0,196,Challenge
295,17,BetterBot,WFLNOOT,NaN,(challenge),0,232,Challenge
295,40,BetterBot,TITAAAN,NaN,(challenge),0,528,Challenge
295,46,BetterBot,AA,NaN,(challenge),0,563,Challenge

In [22]:
turns.loc[295,]

,turn_number,nickname,rack,location,move,points,score,turn_type
game_id,,,,,,,,
295,1,BetterBot,IILOQRV,8G,QI,22,22,Play
295,2,hulkbuster,DEFGOUU,7H,GUFU,12,12,Play
295,3,hulkbuster,DEFGOUU,NaN,--,-12,0,Exchange
295,4,BetterBot,ILOORSV,9F,VISOR,24,46,Play
295,5,BetterBot,ARUYELO,NaN,(challenge),0,46,Challenge
295,6,hulkbuster,DEFGOUU,NaN,-FGUU,0,0,Exchange
295,7,BetterBot,AELORUY,J6,YOU.,15,61,Play
295,8,hulkbuster,DEEEGMO,K5,MOD,20,20,Play
295,9,BetterBot,?ADELRR,7I,R..,5,66,Play
295,10,hulkbuster,AEEEGGO,NaN,-EGO,0,20,Exchange
295,11,BetterBot,?ADDELR,K9,sADDLER,74,140,Play
295,12,hulkbuster,AABEEGI,15H,BEA.,18,38,Play
295,13,BetterBot,ABENORZ,L1,ZEBRA,56,196,Play
295,14,BetterBot,OWTNHNO,NaN,(challenge),0,196,Challenge
295,15,hulkbuster,ACEGITU,F9,.ICE,11,49,Play
295,16,BetterBot,HNNOOTW,14I,WH.N,36,232,Play
295,17,BetterBot,WFLNOOT,NaN,(challenge),0,232,Challenge
295,18,hulkbuster,AAGOTTU,NaN,-AOTU,0,49,Exchange
295,19,BetterBot,FLNOOTW,1L,.OOT,39,271,Play
295,20,hulkbuster,AGIMTTU,2N,MI,18,67,Play
295,21,BetterBot,FGLNNUW,12D,FL.W,20,291,Play
295,22,hulkbuster,?AGTTTU,NaN,-GTTU,0,67,Exchange
295,23,BetterBot,GINNUUV,E12,.UV,6,297,Play
295,24,hulkbuster,?AEHSTY,NaN,-HY,0,67,Exchange
295,25,BetterBot,EGINNOU,12I,UN.OING,22,319,Play
295,26,hulkbuster,?AELSTT,10E,T.,2,69,Play
295,27,BetterBot,AEEHJNO,N10,HE.NA,32,351,Play
295,28,hulkbuster,?AEGLST,5K,..G,6,75,Play
295,29,BetterBot,EGJKOPR,O7,JOKE,50,401,Play
295,30,hulkbuster,?AELLST,8N,L.,2,77,Play
295,31,BetterBot,FGPPRTT,NaN,-FGPPT,0,401,Exchange
295,32,hulkbuster,?AEELST,2K,E.,2,79,Play
295,33,BetterBot,EEIIRST,3L,.I,8,409,Play
295,34,hulkbuster,?AELRST,2J,T..,5,84,Play
295,35,BetterBot,EEIRSTU,J1,U.E,3,412,Play
295,36,hulkbuster,?AEFLRS,NaN,-F,0,84,Exchange
295,37,BetterBot,EIPRSTY,4D,PYRITES,80,492,Play
295,38,hulkbuster,?AEILRS,15A,RAILS,25,109,Play
295,39,BetterBot,AAANOTX,3F,OX,36,528,Play
295,40,BetterBot,TITAAAN,NaN,(challenge),0,528,Challenge
295,41,hulkbuster,?CEEFNS,2A,FENCES,31,140,Play
295,42,hulkbuster,?CEEFNS,NaN,--,-31,109,Exchange
295,43,BetterBot,AAAINTT,2A,ATTAIN,21,549,Play
295,44,hulkbuster,?CEEFNS,A1,F.CErS,33,142,Play
295,45,BetterBot,AADEGP,D1,G.P.ED,14,563,Play
295,46,BetterBot,AA,NaN,(challenge),0,563,Challenge
295,47,hulkbuster,EN,14A,EN,10,152,Play
295,48,hulkbuster,NaN,NaN,(AA),4,156,End