In [1]:
import pandas as pd
import sys
from sklearn.pipeline import Pipeline

In [2]:
sys.path.append("C:\\Users\\Bina4\\Desktop\\Guy_hafifa\\scrabble")

In [3]:
games = pd.read_csv('../data/games.csv', index_col='game_id')
train = pd.read_csv('../data/train.csv', index_col='game_id')
turns = pd.read_csv('../data/turns.csv', index_col='game_id')

In [27]:
import functions
import transformers
import importlib

importlib.reload(functions)
importlib.reload(transformers)
from transformers.columns_setter_transformer import ColumnsSetterTransformer
from transformers.extract_set_column_transformer import ExtractSetColumnsTransformer
from transformers.name_dropper_transformer import NameDropperTransformer
from transformers.select_transformer import SelectTransformer



from functions.bot_extractor import BotExtarctor
from functions.is_bot_extractor import IsBotExtarctor
importlib.reload(functions.is_bot_extractor)
importlib.reload(functions.bot_extractor)
importlib.reload(transformers.columns_setter_transformer)
importlib.reload(transformers.extract_set_column_transformer)
importlib.reload(transformers.name_dropper_transformer)
importlib.reload(transformers.select_transformer)

In [9]:
names = ['BetterBot', 'STEEBot', 'HastyBot']
bots = BotExtarctor(names)(train)
is_player = ~IsBotExtarctor(names)(train)

In [10]:
test = train
transformer = SelectTransformer(is_player)
transformer.transform(test)

               nickname  score  rating
game_id
1                 stevy    429    1500
3             davidavid    440    1811
4        Inandoutworker    119    1473
5                 stevy    325    1500
6                HivinD    378    2029
...                 ...    ...     ...
72767            HAYDEN    340    1395
72770         samsiah06     97    1332
72771              BB-8    390    1500
72772         Gtowngrad    388    1364
72773             adola    383    2075

[50410 rows x 3 columns]

In [29]:
pipe = (Pipeline([('bot_names', ExtractSetColumnsTransformer({'bot_name': BotExtarctor(names)})),
                   ('players_selection', SelectTransformer(is_player)),
                   ('set_bot_training', ColumnsSetterTransformer({'bot_rating': train[~is_player]['rating']})),
                   ('name_dropper', NameDropperTransformer(['nickname']))
                   ]))

pipe.transform(train)

TypeError: 'set' object is not subscriptable

In [ ]:
is_player = ~IsBotExtarctor(names)(train)
bots = BotExtarctor(names)(train)
train_no_bots = train[is_player]
train_no_bots['bot_name'] = bots
train_no_bots['bot_rating'] = train[~is_player]['rating']
train_no_bots = train_no_bots.drop(columns=['nickname'])
# games_with_rating = games.merge(train_no_bots, left_index=True, right_index=True)
train_no_bots

C:\Users\Bina4\AppData\Local\Temp\ipykernel_22824\2770609422.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_no_bots['bot_name'] = bots
C:\Users\Bina4\AppData\Local\Temp\ipykernel_22824\2770609422.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_no_bots['bot_rating'] = train[~is_player]['rating']

         score  rating   bot_name  bot_rating
game_id
1          429    1500  BetterBot        1637
3          440    1811  BetterBot        2071
4          119    1473  BetterBot        1936
5          325    1500    STEEBot        1844
6          378    2029    STEEBot        2143
...        ...     ...        ...         ...
72767      340    1395  BetterBot        1952
72770       97    1332   HastyBot        2237
72771      390    1500   HastyBot        1614
72772      388    1364  BetterBot        1674
72773      383    2075   HastyBot        2302

[50410 rows x 4 columns]